@using WebLibrary2.Domain.Models;
@model  AddABookViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


@foreach (var b in Model.Books)
{
    @b.Authors<br />
}
<div class="btn btn-default">@Html.ActionLink("Назад к списку", "Index", "Home")</div>



