@using WebLibrary2.Domain.Models;
@model  GetM2MCRUDAuthorVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<dt>@Html.DisplayNameFor(model => model.AuthorName)</dt>
<dd>@Html.DisplayFor(model => model.AuthorName)</dd>

<dt>Book name</dt>
@foreach (var b in Model.Books)
{
    <dd> @b.BookName</dd>

}
<button>@Html.ActionLink("Назад к списку", "AuthorsView", "Author",null, new { @class = "btn" })</button>





