@{
    ViewBag.Title = "Contacts";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mikhail Zelenskiy<br />
    <abbr title="Phone">Phone:</abbr>
    +380663035521
</address>

<address>
    <strong>Skype:</strong> zmisha0<br />
    <strong>Gmail:</strong> <a href="mailto:zelenskiymo@gmail.com"> zelenskiymo@gmail.com</a>
</address>