
@{
    ViewBag.Title = "Deserialize";

    var authorDataXML = (IEnumerable<WebLibrary2.Domain.Entity.Author>)ViewData["AuthorDataXML"];
    var authorDataJSON = (IEnumerable<WebLibrary2.Domain.Entity.ArticleEntity.Article>)ViewData["ArticleDataJSON"];
    var articleDataXML = (IEnumerable<WebLibrary2.Domain.Entity.ArticleEntity.Article>)ViewData["ArticleDataXML"];
}

<h2>Deserialize</h2>

@if (authorDataXML != null)
{
    <h3>XML Deserialization</h3>
    foreach (var item in authorDataXML)
    {
        @item.AuthorName<br />
    }
}


@if (articleDataXML != null)
{
    <h3>XML Deserialization</h3>
    foreach (var item2 in articleDataXML)
    {
        @item2.ArticleName<br />
    }
}

<br />


