@using WebLibrary2.Domain.Models
@model AddABookViewModel

    <h2>Details</h2>


    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Book
            </dt>
     
            <dt>
                Authors
            </dt>
            @foreach (var author in Model.Authors)
            {
                <dd>
                    @author.AuthorID
                    @author.AuthorName
                </dd>
            }

 

        </dl>
    </div>
    <p>
        @*<div class="btn btn-default"> @Html.ActionLink("Редактировать", "EditBook", "CRUDBook", new { id = Model.BookID }, null)</div>*@
        <div class="btn btn-default">@Html.ActionLink("Назад к списку", "BooksView", "Books")</div>
    </p>
