@using WebLibrary2.Domain.Models;
@model IEnumerable<GetM2MViewModel>

<h2>Details</h2>


<div>
    <hr />
    <dl class="dl-horizontal">



        @foreach (var author in Model)
        {
            <dt>
                Book
            </dt>
            <dd>@author.BookName</dd>
            <dt>
                Authors
            </dt>
            <dd>
                @author.AuthorName
            </dd>
        }
    </dl>
</div>
<p>
    @*<div class="btn btn-default"> @Html.ActionLink("Редактировать", "EditBook", "CRUDBook", new { id = Model.FirstOrDefault()}, null)</div>*@
    <div class="btn btn-default">@Html.ActionLink("Назад к списку", "BooksView", "Books")</div>
</p>
